
<table>

    <tr>
      <td>
        <h1>Welcome to Falabella corp-. </h1>
      </td>
    </tr>

  <tr>
    <td> <p>
        <b>Falabella</b> is a chilean miltinational company. It is the second largest retail <br>
        company in Chile after Cencosud and one of the largest in Latin America. It <br>
        operates its flagship Falabella department stores in addition to Mall Plaza<br>
        shopping centers, Tottus hyper & supermarkets, Banco Falabella banks, and<br>
        Sodimac home improvement centers. The company also operates in the<br>
        financial pharmaceutical sectors and others. The company haz 259 stores<br>
        and 27 Shopping malls. The stores are divided into 64 department stores<br>
        branded as Falabella, 114 home improvement storescalled Sodimac and 64<br>
        supermarkets branded as Tottus. In Peru the company owns the saga<br>
        Falabella, listed in the lima Stock Exchange<br>

      </p></td>


  </tr>




  </table>



