
<table>

    <tr>
      <td>
        <h1>History</h1>
      </td>
    </tr>

  <tr>
    <td> <p>
        The company was founded by salvatore Falabella, an <br>
        Italian Chilean immigrant, in 1889. In it´s original form, it <br>
        was a tailor shop but today has cbecome the largest retail <br>
        in south america, the expansion of the company began <br>
        in the 1960s, inaugurating the firs store outside of <br>
        Santiago, located at Concepcion, in 1980 Falabella <br>
        created CMR, a credit card with 5.5 million customers in <br>
        expanding it´s operations in argentina, peru and <br>
        Colombia, in the 2000s some of the celebrities who have <br>
        appeared in ads are Cecilia Boloco, Valeria Mazza, <br>
        Juanes,kate Moss, Gisele Bündchen and Ricky Martin. <br>
      </p></td>

      <td>
        <tr>
          <img src="assets/images/falabella-history.jpg" class="img-rounded" alt="falabellahistory">
        </tr>
      </td>
  </tr>
 </table>
