
<div >
  <table >
     <tr>
      <td><img class="img-responsive" src="assets/images/falabella-imago.png" alt="falabella-imago"></td>
      <td><img class="img-responsive" src="assets/images/falabella-chile.jpg" alt="falabella-chile"></td>
     </tr>
  </table>

</div>


<button class="btn btn-success" routerLink="/welcome">welcome</button>
<button class="btn btn-success" routerLink="/history">history</button>

<router-outlet></router-outlet>

<footer>
  <table class="table">
    <thead>
      <tr class="success">
          <th>Our Company</th>
          <th>Costumes Service</th>
          <th>Holding Falabella</th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <td>Partnerships</td>
        <td>Why Falabella? </td>
        <td>CMR </td>

      </tr>
      <tr>
        <td>Investers</td>
        <td>Our principies </td>
        <td>Banking Services</td>
      </tr>
      <tr>
        <td>Work with us</td>
        <td>Website map</td>
        <td>Travel Assistance</td>
      </tr>
    </tbody>
  </table>

</footer>
